/* CSS del body */
body {
  background-image: url("./assets/img/sfondoBodyPagina.png");
  background-position: center;
  background-size: contain;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
}

/* CSS del componente MyNavbar */
.div-link {
  position: relative;
  bottom: 1em;
}

.link:hover {
  color: bisque;
  border-bottom: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 8px 1px rgba(0, 0, 0, 0.488);
  transition: all 0.2s linear 0s;
}

.current-link {
  color: bisque;
  padding: 0.2em;
  position: relative;
  bottom: 1em;
  border-bottom: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 8px 1px rgba(0, 0, 0, 0.488);
}

.current-link-off {
  color: bisque;
  transition: all 0.2s linear 0s;
}

.div-logo {
  width: 20%;
}
.div-logo-md {
  width: 10%;
  margin-right: 1em;
}
.div-logo-lg {
  width: 10%;
  margin-right: 1em;
}

.container-nav {
  border: 1px solid #706315;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 1em;
  height: 7em;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.5em;
}
.container-nav-md {
  border: 1px solid #706315;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 1em;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.5em;
}
.container-nav-lg {
  border: 1px solid #706315;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 0.3em;
  width: 50%;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.5em;
}

#img-logo-sm {
  position: relative;
  top: 0.2em;
  border: 2px solid bisque;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 100px;
  padding: 0.2em;
  background-image: linear-gradient(180deg, #07050491, transparent);
}
#img-logo-md {
  border: 2px solid bisque;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 100px;
  padding: 0.2em;
  background-image: linear-gradient(180deg, #07050491, transparent);
}
#img-logo-lg {
  border: 2px solid bisque;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 100px;
  padding: 0.2em;
  background-image: linear-gradient(180deg, #07050491, transparent);
}

/* CSS del componente Service */
.col-1-serviceLoginFail {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  width: 100%;
}

/* From Uiverse.io by elijahgummer */
.button-with-icon {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid bisque;
  font-family: "Istok Web", sans-serif;
  letter-spacing: 1px;
  padding: 0 12px;
  text-align: center;
  width: 120px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 30px;
  outline: none;
  user-select: none;
  cursor: pointer;
  transform: translateY(0px);
  position: relative;
  box-shadow: inset 0 30px 30px -15px rgba(255, 255, 255, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3), inset 0 1px 20px rgba(0, 0, 0, 0),
    0 3px 0 #191d1d37, 0 3px 2px rgba(0, 0, 0, 0.188),
    0 5px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  background: #e28419;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  transition: 150ms all ease-in-out;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #d77c0b;
  border-color: var(--bs-btn-hover-border-color);
}

.button-with-icon .icon {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  transition: all 0.5s ease-in-out;
}

.button-with-icon:active {
  transform: translateY(3px);
  box-shadow: inset 0 16px 2px -15px rgba(0, 0, 0, 0),
    inset 0 0 0 1px rgba(255, 255, 255, 0.15),
    inset 0 1px 20px rgba(0, 0, 0, 0.1), 0 0 0 #0f988e,
    0 0 0 2px rgba(255, 255, 255, 0.5), 0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(0, 0, 0, 0);
}

.button-with-icon:hover .text {
  transform: translateX(80px);
}
.button-with-icon:hover .icon {
  transform: translate(23px);
}

.text {
  transition: all 0.5s ease-in-out;
}

.col1-film {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 1em;
  overflow-x: scroll;
}
.col1-film-md {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  padding: 1em;
  overflow-x: scroll;
}
.col2-serieTv {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  width: 100%;
  overflow-x: scroll;
  padding: 1em;
}
.col2-serieTv-md {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  overflow-x: scroll;
  padding: 1em;
}

#row-serviceFilm {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 1em;
  border-top: 1px solid bisque;
  border-bottom: 1px solid bisque;
  backdrop-filter: blur(10px);
}

#row-serviceSerieTv {
  overflow-x: auto;
  flex-wrap: nowrap;
  gap: 1em;
  border-top: 1px solid bisque;
  border-bottom: 1px solid bisque;
  backdrop-filter: blur(10px);
  margin-bottom: 2em;
}

.card-film-serieTv {
  border: 1px solid bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.47);
}
.card-film-serieTv-md {
  border: 1px solid bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.47);
  width: 100%;
}

.cover-image {
  border-bottom: 3px solid darkred;
}

.body-card-catalogo {
  background-color: rgb(35, 35, 41);
  color: bisque;
}

.title-card-catalogo {
  border-bottom: 1px solid bisque;
  padding: 1em;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.532);
}

.title-catalogo {
  border-top: 1px solid bisque;
  border-bottom: 1px solid bisque;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.224);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.467);
  padding: 0.2em;
  margin-left: 0;
  margin-bottom: 2em;
  margin-top: 2em;
}
/* CSS del componente Intro */

.div-titolo-home {
  border-left: 1px solid bisque;
}

#titolo-home {
  color: bisque;
  margin-top: 1em;
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 0.2em;
}

.sinossi {
  color: bisque;
}

#row-1 {
  padding: 1em;
}

.col-1 {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
}

.h3-register {
  color: bisque;
  font-size: 1.3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.divided-span {
  border-bottom: 1px solid rgba(255, 228, 196, 0.547);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.divided-span-lg {
  border-right: 1px solid rgba(255, 228, 196, 0.547);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* CSS del componente Login */

.title-login {
  color: rgb(255, 236, 212);
  font-size: 2em;
}

.title-login-md {
  color: rgb(255, 236, 212);
  font-size: 1.7em;
}
.title-login-lg {
  color: rgb(255, 236, 212);
  font-size: 2em;
}

.input-form::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.input-form {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  padding: 0.7em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-md {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  padding: 0.3em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-md::placeholder {
  color: rgba(182, 170, 156, 0.788);
}
.input-form-lg {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 2em;
  padding: 0.4em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-lg::placeholder {
  color: rgba(182, 170, 156, 0.788);
  font-size: 1em;
}

.button-login {
  width: 10em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.button-login-md {
  width: 11em;
  padding: 0.2em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}
.button-login-lg {
  width: 10em;
  padding: 0.1em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.forgot-password {
  font-size: 0.9em;
  color: rgb(24, 22, 20);
}

.forgot-password-md {
  font-size: 1em;
  color: rgb(24, 22, 20);
}
.forgot-password-lg {
  font-size: 1em;
  color: rgb(24, 22, 20);
}

.div-title {
  position: relative;
  bottom: 3.6em;
}

.div-title-md {
  position: relative;
  bottom: 3.8em;
}
.div-title-lg {
  position: relative;
  bottom: 3.8em;
}

.col-login {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
}
.col-login-md {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
  width: 70%;
}

.div-img-login {
  width: 40%;
}

.div-img-login-md {
  width: 30%;
}

.div-img-login-lg {
  width: 25%;
}

.col-2-lg {
  border-right: 1px solid rgba(255, 228, 196, 0.547);
}
/* CSS del componente Register */

.button-register {
  width: 10em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.col-register {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
}
.col-register-md {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
  width: 30em;
}

.input-form-register-md {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 20em;
  padding: 0.2em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-register-md::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.col-register-lg {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
  width: 30em;
}

.input-form-register-lg {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 20em;
  padding: 0.2em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-register-lg::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.col-3-lg {
  padding: 1.5em;
}

/* CSS del componente Footer */

.container-footer {
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  border: 1px solid #706315;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 1em;
}

.col-footer1-sm {
  border-bottom: 1px solid bisque;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.col-footer2-sm {
  border-right: 1px solid bisque;
}
.col-footer1-md {
  border-right: 1px solid bisque;
}
.col-footer2-md {
  border-right: 1px solid bisque;
}

/* CSS del componente NavSettings */

.container-nav-settings {
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  border: 1px solid #e9cc2b;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 0;
  position: sticky;
  bottom: 0;
}

#button-search-user {
  background: none;
  border: none;
  color: bisque;
}

#button-search-user:hover {
  border-top: 2px solid bisque;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;
  transition: all 0.2s linear 0s;
}

#button-navigate-cineverse {
  background: none;
  border: none;
}

#button-navigate-cineverse:hover {
  border-top: 2px solid bisque;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.2s linear 0s;
}

#button-navigate-myprofile {
  background: none;
  border: none;
  width: 25%;
}

#button-navigate-myprofile:hover {
  border-top: 2px solid bisque;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.2s linear 0s;
}

#button-create-post {
  background: none;
  border: none;
  color: bisque;
}

#button-create-post:hover {
  border-top: 2px solid bisque;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.2s linear 0s;
}

#button-lista-film-serieTv {
  background: none;
  border: none;
  color: bisque;
}

#button-lista-film-serieTv:hover {
  border-top: 2px solid bisque;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.2s linear 0s;
}

.icona-cineverse-sm {
  width: 3em;
}

#icona-cineverse-lg {
  width: 4em;
}

/* CSS del componente MyProfile */
#container-my-profile #row-1 {
  border-bottom: 1px solid bisque;
}

#container-my-profile .banner-div-sm {
  border-top: 1px solid bisque;
  border-right: 1px solid bisque;
  border-left: 1px solid bisque;
  border-bottom: 5px solid rgba(139, 0, 0, 0.627);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 1.8em;
}
#container-my-profile .banner-div-md {
  border-top: 1px solid bisque;
  border-right: 1px solid bisque;
  border-left: 1px solid bisque;
  border-bottom: 5px solid rgba(139, 0, 0, 0.627);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: 1.8em;
  height: 12em;
}

#container-my-profile #banner-profile {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}
#container-my-profile #banner-profile-md {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
  height: 11.6em;
  width: 42em;
}
#container-my-profile #banner-profile-lg {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
  height: 11.6em;
  width: 68em;
}

#button-edit-banner {
  background: none;
  border: none;
  color: bisque;
  position: absolute;
  right: 0;
}

#button-edit-avatar {
  background: none;
  border: none;
  position: absolute;
  bottom: 0;
  left: 6em;
}

#container-my-profile .img-profile-div-sm {
  display: flex;
  justify-content: center;
  position: relative;
}

#container-my-profile #avatar-profile {
  border-radius: 100px;
  width: 7em;
  height: 7em;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.586);
}

#container-my-profile .img-profile-div-md {
  border: 1px solid bisque;
}

#container-my-profile .banner-div-lg {
  border: 1px solid bisque;
}

#container-my-profile .img-profile-div-lg {
  border: 1px solid bisque;
}

#container-my-profile #col-profile-2-sm {
  border: 1px solid bisque;
  border-top: none;
  margin-top: 2em;
  padding: 0.5em;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.512);
}

#container-my-profile .div-name-profile-sm {
  border-left: 1px solid bisque;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.318);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container-my-profile .span-divided-sm {
  border-bottom: 1px solid bisque;
  width: 70%;
  margin-bottom: 1em;
  margin-top: 1em;
}

#container-my-profile .catalogo-filmSerieTv {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(10px);
  padding: 0.5em;
}

#container-my-profile #button-number-fan {
  background-color: rgba(0, 0, 0, 0.24);
  border: none;
}

#container-my-profile #button-follow {
  background-color: rgba(0, 0, 0, 0.24);
  border: none;
}

@keyframes buttonHover {
  0% {
    border: 0px solid bisque;
    border-radius: 5px;
  }

  25% {
    border: 0.3px solid bisque;
    border-radius: 10px;
  }

  50% {
    border: 0.5px solid bisque;
    border-radius: 15px;
  }

  75% {
    border: 0.7px solid bisque;
    border-radius: 20px;
  }

  100% {
    border: 1px solid bisque;
    border-radius: 25px;
  }
}

#container-my-profile #button-follow:hover {
  animation: buttonHover 0.5s linear 0s 1 forwards;
}

#container-my-profile #button-number-fan:hover {
  animation: buttonHover 0.5s linear 0s 1 forwards;
}

#container-my-profile .div-fan-follow {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

#container-my-profile .button-edit-info {
  background: none;
  border: none;
  border: 1px solid bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.501);
}

#container-my-profile .button-edit-info:hover {
  background-color: rgba(255, 228, 196, 0.301);
  transition: all 0.2s linear 0s;
}

#modal-edit-profile {
  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(10px);
  display: flex;
}

.modal-content {
  background: none;
  color: bisque;
  border: 1px solid bisque;
  backdrop-filter: blur(10px);
}

#modal-header-profile {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  justify-content: center;
}

.modal-body-profile {
  background: none;
}

.modal-footer-profile {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: space-around;
}

/* CSS del componente Post */

.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-my-profile .div-title-ciak {
  border-bottom: 1px solid bisque;
  width: 50%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-color: rgba(255, 228, 196, 0.11);
  backdrop-filter: blur(10px);
  padding: 0.2em;
  margin: 1em;
  box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.29);
  text-align: center;
}

#container-my-profile .title-ciak {
  color: bisque;
  font-size: 1.5em;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

#container-my-profile #row-post {
  /* border-left: 10px solid rgb(79 63 6 / 47%); */
  /* border-right: 10px solid rgb(20, 14, 8); */
  /* background-color: rgb(66 50 4 / 49%);
  backdrop-filter: blur(10px); */
  width: 22em;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#container-my-profile #row-post-md {
  /* border-left: 10px solid rgb(79 63 6 / 47%); */
  /* border-right: 10px solid rgb(20, 14, 8); */
  /* background-color: rgb(66 50 4 / 49%);
  backdrop-filter: blur(10px); */

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#container-my-profile .icona-utente-post {
  border-radius: 100px;
  object-fit: cover;
  width: 2em;
  height: 2em;
  border: 1px solid bisque;
}
#container-my-profile .icona-utente-post-md {
  border-radius: 100px;
  object-fit: cover;
  width: 1em;
  height: 1em;
  border: 1px solid bisque;
}

#container-my-profile #card-post {
  background-color: rgb(31, 29, 29);
  backdrop-filter: blur(10px);
  border: 1px solid bisque;
  color: bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.522);
}
#container-my-profile #card-post-md {
  background-color: rgb(31, 29, 29);
  backdrop-filter: blur(10px);
  border: 1px solid bisque;
  color: bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.522);
}
#container-my-profile #card-post-lg {
  background-color: rgb(31, 29, 29);
  backdrop-filter: blur(10px);
  border: 1px solid bisque;
  color: bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.522);
}

#container-my-profile .image-post {
  border-bottom: 1px solid rgb(104, 36, 36);
  box-shadow: 0px -5px 10px 1px rgb(0, 0, 0);
  border-width: 5px;
}
#container-my-profile .image-post-md {
  border-bottom: 1px solid rgb(104, 36, 36);
  box-shadow: 0px -5px 10px 1px rgb(0, 0, 0);
  border-width: 5px;
  height: 100%;
  object-fit: cover;
}
#container-my-profile .image-post-md {
  border-bottom: 1px solid rgb(104, 36, 36);
  box-shadow: 0px -5px 10px 1px rgb(0, 0, 0);
  border-width: 5px;
  height: 100%;
  object-fit: cover;
}

#container-my-profile .icona-commento-post {
  width: 2em;
}

#container-my-profile .icona-myCiak {
  width: 3em;
}

#container-my-profile .icona-commento-post:hover {
  cursor: pointer;
}

#container-my-profile .icona-myCiak:hover {
  cursor: pointer;
}

#container-my-profile .button-icon {
  background: none;
  border: none;
  height: 1.5em;
  display: flex;
  color: bisque;
}

#container-my-profile .numero-myCiak {
  position: relative;
  right: 1em;
}

#container-my-profile .numero-commenti {
  position: relative;
  right: 0.7em;
}

/* CSS del componente Commento */

#container-my-profile #container-commento {
  border-top: 1px solid bisque;
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.332);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.455);
}

#container-my-profile #row-commenti {
  overflow-y: scroll;
  height: 20em;
}

#container-my-profile .icona-profilo-commento {
  border-radius: 100px;
  object-fit: cover;
  width: 2.4em;
  height: 2em;
  margin-right: 1em;
  border: 1px solid bisque;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.44);
}

#container-my-profile .descrizione-commento {
  border-left: 1px solid bisque;
  padding: 0.5em;
}

.separated-comment {
  border: 1px solid rgba(255, 228, 196, 0.347);
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@keyframes settingsCommento {
  0% {
    transform: translate(2px, -90px);
    opacity: 0;
  }

  25% {
    opacity: 0.3;
    transform: translate(2px, -75px);
  }

  50% {
    opacity: 0.5;
    transform: translate(2px, -60px);
  }

  75% {
    opacity: 0.7;
    transform: translate(2px, -40px);
  }

  100% {
    opacity: 1;
    transform: translate(2px, -10px);
  }
}

.div-settings-commento {
  position: absolute;
  width: 6em;
  height: 7em;
  right: 1em;
  bottom: 15em;
  padding: 0.2em;
  border: 1px solid bisque;
  backdrop-filter: blur(10px);
  background-color: rgba(26, 25, 25, 0.997);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px black;
  animation: settingsCommento 0.2s linear 0s 1 forwards;
}

.edit-commento {
  text-decoration: none;
  color: rgb(226, 157, 73);
  margin-left: 0.5em;
}

.delete-commento {
  text-decoration: none;
  color: rgb(211, 9, 9);
  margin-left: 0.5em;
}

.close-settings-button {
  position: relative;
  bottom: 7em;
  left: 4.5em;
  background-color: rgba(35, 21, 21, 0.947);
  border: 1px solid bisque;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  border-radius: 100px;
}

#container-my-profile .button-close {
  background: none;
  border-top: 1px solid bisque;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  height: 2em;
}

#container-my-profile .button-close:hover {
  background-color: rgba(255, 228, 196, 0.438);
  color: black;
  transition: all 0.2s linear 0s;
}

#container-my-profile .input-form-commento {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 1em;
  padding: 0.8em;
  margin-bottom: 1em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-commento::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

#container-my-profile .form-commento {
  border-bottom: 1px solid rgba(255, 228, 196, 0.486);
}

#container-my-profile #button-form-commento {
  border: none;
  background: none;
  color: bisque;
}
