/* CSS del body */
body {
  background-image: url("./assets/img/sfondoBodyPagina.png");
  background-position: center;
  background-size: contain;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
}

/* CSS del componente MyNavbar */
.div-link {
  position: relative;
  bottom: 1em;
}

.link:hover {
  color: bisque;
  border-bottom: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 8px 1px rgba(0, 0, 0, 0.488);
  transition: all 0.2s linear 0s;
}

.current-link {
  color: bisque;
  padding: 0.2em;
  position: relative;
  bottom: 1em;
  border-bottom: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 10px 8px 1px rgba(0, 0, 0, 0.488);
}

.current-link-off {
  color: bisque;
  transition: all 0.2s linear 0s;
}

.div-logo {
  width: 20%;
}
.div-logo-md {
  width: 10%;
  margin-right: 1em;
}
.div-logo-lg {
  width: 10%;
  margin-right: 1em;
}

.container-nav {
  border: 1px solid #706315;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 1em;
  height: 7em;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.5em;
}
.container-nav-md {
  border: 1px solid #706315;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 1em;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.5em;
}
.container-nav-lg {
  border: 1px solid #706315;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 0.3em;
  width: 50%;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  position: relative;
  bottom: 0.5em;
}

#img-logo-sm {
  position: relative;
  top: 0.2em;
  border: 2px solid bisque;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 100px;
  padding: 0.2em;
  background-image: linear-gradient(180deg, #07050491, transparent);
}
#img-logo-md {
  border: 2px solid bisque;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 100px;
  padding: 0.2em;
  background-image: linear-gradient(180deg, #07050491, transparent);
}
#img-logo-lg {
  border: 2px solid bisque;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 100px;
  padding: 0.2em;
  background-image: linear-gradient(180deg, #07050491, transparent);
}

/* CSS del componente Intro */

.div-titolo-home {
  border-left: 1px solid bisque;
}

#titolo-home {
  color: bisque;
  margin-top: 1em;
  font-size: 2.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 0.2em;
}

.sinossi {
  color: bisque;
}

#row-1 {
  padding: 1em;
}

.col-1 {
  border-bottom: 1px solid bisque;
  border-top: 1px solid bisque;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
}

.h3-register {
  color: bisque;
  font-size: 1.3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.divided-span {
  border-bottom: 1px solid rgba(255, 228, 196, 0.547);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.divided-span-lg {
  border-right: 1px solid rgba(255, 228, 196, 0.547);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* CSS del componente Login */

.title-login {
  color: rgb(255, 236, 212);
  font-size: 2em;
}

.title-login-md {
  color: rgb(255, 236, 212);
  font-size: 1.7em;
}
.title-login-lg {
  color: rgb(255, 236, 212);
  font-size: 2em;
}

.input-form::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.input-form {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  padding: 0.7em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-md {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  padding: 0.3em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-md::placeholder {
  color: rgba(182, 170, 156, 0.788);
}
.input-form-lg {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 2em;
  padding: 0.4em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-lg::placeholder {
  color: rgba(182, 170, 156, 0.788);
  font-size: 1em;
}

.button-login {
  width: 10em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.button-login-md {
  width: 11em;
  padding: 0.2em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}
.button-login-lg {
  width: 10em;
  padding: 0.1em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.forgot-password {
  font-size: 0.9em;
  color: rgb(24, 22, 20);
}

.forgot-password-md {
  font-size: 1em;
  color: rgb(24, 22, 20);
}
.forgot-password-lg {
  font-size: 1em;
  color: rgb(24, 22, 20);
}

.div-title {
  position: relative;
  bottom: 3.6em;
}

.div-title-md {
  position: relative;
  bottom: 3.8em;
}
.div-title-lg {
  position: relative;
  bottom: 3.8em;
}

.col-login {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
}
.col-login-md {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
  width: 70%;
}

.div-img-login {
  width: 40%;
}

.div-img-login-md {
  width: 30%;
}

.div-img-login-lg {
  width: 25%;
}

.col-2-lg {
  border-right: 1px solid rgba(255, 228, 196, 0.547);
}
/* CSS del componente Register */

.button-register {
  width: 10em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.col-register {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
}
.col-register-md {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
  width: 30em;
}

.input-form-register-md {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 20em;
  padding: 0.2em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-register-md::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.col-register-lg {
  background-image: url("./assets/img/pellicolaAnimata.gif.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.541);
  width: 30em;
}

.input-form-register-lg {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 20em;
  padding: 0.2em;
  background-color: rgb(47, 44, 44);
  color: rgba(182, 170, 156, 0.788);
}

.input-form-register-lg::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.col-3-lg {
  padding: 1.5em;
}

/* CSS del componente Footer */

.container-footer {
  background-image: linear-gradient(2deg, #1d161093, transparent);
  backdrop-filter: blur(10px);
  border: 1px solid #706315;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom: none;
  box-shadow: 0px 6px 10px 1px #00000087;
  padding: 1em;
}

.col-footer1-sm {
  border-bottom: 1px solid bisque;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.col-footer2-sm {
  border-right: 1px solid bisque;
}
.col-footer1-md {
  border-right: 1px solid bisque;
}
.col-footer2-md {
  border-right: 1px solid bisque;
}

/* CSS del componente MyProfile */
#container-my-profile #row-1 {
  border-bottom: 1px solid bisque;
}

#container-my-profile .banner-div-sm {
  border: 1px solid bisque;
}

#container-my-profile .img-profile-div-sm {
  border: 1px solid bisque;
}

#container-my-profile .banner-div-md {
  border: 1px solid bisque;
}

#container-my-profile .img-profile-div-md {
  border: 1px solid bisque;
}

#container-my-profile .banner-div-lg {
  border: 1px solid bisque;
}

#container-my-profile .img-profile-div-lg {
  border: 1px solid bisque;
}
