.title-login {
  color: bisque;
  font-size: 1.8em;
}

.input-form::placeholder {
  color: rgba(182, 170, 156, 0.788);
}

.input-form {
  border-radius: 15px;
  border: 1px solid rgb(136, 131, 126);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.534);
  width: 100%;
  padding: 0.7em;
  background-color: rgb(47, 44, 44);
}

.button-login {
  width: 10em;
  color: bisque;
  border-radius: 15px;
  background-color: rgb(192, 87, 13);
}

.forgot-password {
  font-size: 0.9em;
  color: rgba(255, 228, 196, 0.397);
}

.div-title {
  position: relative;
  bottom: 5em;
}

.img-clapperboard {
  width: 50%;
}
